HELASCAN_API_KEY=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
HELASCAN_BASE_URL=https://testnet.helascan.io/account/api-key  # or https://helascan.io/api for mainnet

ETHERSCAN_API_KEY=FTZW7S23ENURA1AG5G7EEJIKY69U3EQQHT  # optional, can leave as is for mock
GEMINI_API_KEY=your_api_key_here